<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
<!-- *********************************************** Auto wire byName ****************************************************** -->
	
	<!-- <bean id="fruit" class="com.example.demo.Fruit" autowire="byName" />

	<bean id="fd1" class="com.example.demo.FruitDetails">
		<property name="name" value="Apple" />
		<property name="color" value="red" />
		<property name="weight" value="100" />
	</bean>
	<bean id="fd2" class="com.example.demo.FruitDetails">
		<property name="name" value="Orange" />
		<property name="color" value="orange" />
		<property name="weight" value="50" />
	</bean>
	<bean id="fd3" class="com.example.demo.FruitDetails">
		<property name="name" value="Banana" />
		<property name="color" value="white" />
		<property name="weight" value="25" />
	</bean> -->

<!-- ************************************************************************************************************************ -->

<!-- *********************************************** Auto wire byType ****************************************************** -->
	
	<bean id="fruit" class="com.example.demo.Fruit" autowire="byType" />

	<bean id="fd1" class="com.example.demo.FruitDetails">
		<property name="name" value="Apple" />
		<property name="color" value="red" />
		<property name="weight" value="100" />
	</bean>

<!-- ************************************************************************************************************************ -->

</beans>