<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config />

	<bean id="product" class="com.example.demo.Product">
		<property name="name" value="Pen" />
		<property name="type" value="Learning" />
		<property name="price" value="25" />
	</bean>
	
	<bean id="product1" class="com.example.demo.Product" primary="true">
		<property name="name" value="Paper" />
		<property name="type" value="Reading and Writing" />
		<property name="price" value="10" />
	</bean>
	
	<context:component-scan base-package="com" />

</beans>
