<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config></context:annotation-config>
	
	<bean id="triangle" class="com.example.demo.Triangle">
		
	</bean>

	<bean id="pointA" class="com.example.demo.Points">
		<property name="x" value="10" />
		<property name="y" value="20" />
	</bean>
	
	<bean id="pointB" class="com.example.demo.Points">
		<property name="x" value="100" />
		<property name="y" value="200" />
	</bean>
</beans>
